USE [master]
GO
/****** Object:  Database [SISTEMA]    Script Date: 21/09/2023 09:00:46 ******/
CREATE DATABASE [SISTEMA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISTEMA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SISTEMA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISTEMA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SISTEMA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISTEMA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISTEMA]
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 21/09/2023 09:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradores](
	[DNI] [int] NOT NULL,
	[Usuario] [varchar](255) NOT NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[CorreoElectronico] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 21/09/2023 09:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI_Alumno] [int] NULL,
	[Matematica] [decimal](5, 2) NULL,
	[Comunicacion] [decimal](5, 2) NULL,
	[Ingles] [decimal](5, 2) NULL,
	[Fisica] [decimal](5, 2) NULL,
	[Quimica] [decimal](5, 2) NULL,
	[Algebra] [decimal](5, 2) NULL,
	[Promedio_Final] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/09/2023 09:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[DNI] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[CorreoElectronico] [varchar](255) NOT NULL,
	[Grado] [varchar](50) NOT NULL,
	[Sesion] [int] NOT NULL,
	[Nivel] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[DNI_Administrador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD FOREIGN KEY([DNI_Alumno])
REFERENCES [dbo].[Usuarios] ([DNI])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([DNI_Administrador])
REFERENCES [dbo].[Administradores] ([DNI])
GO
USE [master]
GO
